.about_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    gap: 5em;
    animation: intro 1s ease-in;
}

.blue_p {
    color: rgba(79, 209, 197)
}
.green_p {
    color: rgba(79, 209, 197);
}
.about_personal_info {
    line-height: 0;
}

.number_block {
    padding: 1.5em;
    margin: 0.4em;
    background-color: #1a1a1a;
    line-height: 0;
    width: 7em;
    box-shadow: 2px 2px 2px rgb(0, 0, 0,0.3);
}

.number_block_classic {
    width: 28.5em;
    padding: 1.5em;
    margin: 0.5em;
    background-color: #1a1a1a;
    line-height: 0;
    box-shadow: 2px 2px 2px rgb(0, 0, 0,0.3);
}


.P {
    display: flex;
    align-items: center;
    gap: 2px;
}

.green_p {
    font-size: 3em;
}

.inner_personal_block {
    display: flex;
}

.about_personal_info_3 {
    gap:2;
}