.music_note {
    height: 50px;
    width: 50px;
    position: absolute;
    right: 0;
    top:0;
    margin-top: 2.5em;
    margin-right: 9em;
    cursor: pointer;
    animation: intro 2s ease-out forwards;
  }

  .display_button{
    height: 50px;
    width: 50px;
    margin-top: 2em;
    cursor: pointer;
    margin-right: 5em;
}

.origin {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;

}

.MAIN_container {
  display: flex;
  justify-content: center;
  align-items: center;

}

.second_main_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.stack {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin: 20px 0;
}

.individual_stack img {
  width: 30px;
  margin:10px
}

.solidity {
  height: 35px;
}

.translate-out-main {
  transform: translateX(1em);
  transition: transform 0.5s ease;
}

.MdDownload {
  background-color: rgba(79, 209, 197,0.6);
  padding: 5px;
  border-radius: 20px;
}

.down_btn {
  display: flex;
  align-items: center;
  gap: 1em;
}

.translate-in-main {
  transform: translateX(10em);
  transition: transform 0.5s ease;
}

.navbar_icon {
  color: white;
  height: 30px;
  width: 30px;
}

body {
  overflow-x: hidden;
  background-color:rgb(32, 32, 35)
}

.button_div {
  display: flex;
  flex-direction: row;
  gap: 10px
}

.container {
  height: 20em;
  border-radius: 100%;
  width: 20em;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: url("https://media.licdn.com/dms/image/D4D03AQGmjVgdB8hgsw/profile-displayphoto-shrink_400_400/0/1676415517689?e=1692835200&v=beta&t=-DetzRzoigad0vq8XaLKbehx-7J6t05Osg_ysAIfByo");
  border: 2px solid white;
}

@keyframes morph {
  0% {border-radius: 40% 60% 60% 40% / 60% 30% 70% 40%;} 
  100% {border-radius: 40% 60%;} 
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

.text-container {
  margin-left: 2em;

}

.text_intro {
  animation: intro 1s ease-out;
}

@keyframes intro {
from {
  transform: translate(100px);
}
}

@keyframes intro2 {
from {
  transform: translate(900px);
}

} 

.main_text {
  width: 30em;
  color: rgb(155, 152, 152);
}

.icons {
  display: flex;
  gap: 15px;

.icon {
  height: 30px;
  width: 30px;
}
.twitter {
    animation: intro 1s ease-in forwards;
}
.linkedin {
    animation: intro 1.2s ease-in forwards;
}
.discord {
    animation: intro 1.5s ease-in forwards;
}
.github {
    animation: intro 1.7s ease-in forwards;
}

}
