.display_button {
  height: 50px;
  width: 50px;
  margin-top: 2em;
  cursor: pointer;
  margin-right: 5em;
}

.button_div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px
}

.origin {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.MAIN_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.second_main_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

}

.stack {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1em;
  margin: 20px 0;
}

.individual_stack img {
  width: 30px;
  margin: 10px
}

.solidity {
  height: 35px;
}

.translate-out-main {
  transform: translateX(1em);
  transition: transform 0.5s ease;
}

.names {
  display: flex;
  gap: 1em;
  line-height: 0;
}

.surname {
  color: rgba(79, 209, 197);
}

.MdDownload {
  background-color: rgba(79, 209, 197, 0.6);
  padding: 5px;
  border-radius: 20px;
}

.down_btn {
  display: flex;
  align-items: center;
  gap: 1em;
}

.translate-in-main {
  transform: translateX(10em);
  transition: transform 0.5s ease;
}

.navbar_icon {
  color: white;
  height: 30px;
  width: 30px;
}

body {
  overflow-x: hidden;
  background-color: rgb(32, 32, 35)
}

.button_div {
  display: grid;
  grid-template-rows: repeat(4fr, 4);
  gap: 10px
}

.container {
  height: 19em;
  border-radius: 100%;
  width: 19em;
  background: url('https://avatars.githubusercontent.com/u/93622341?v=4');
  border: 2px solid white;
  background-position: center;
  background-size: contain;
}

@keyframes morph {
  0% {
    border-radius: 40% 60% 60% 40% / 60% 30% 70% 40%;
  }

  100% {
    border-radius: 40% 60%;
  }
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

.text-container {
  margin-left: 2em;
  width: 37%;
}

.text_intro {
  animation: intro 1s ease-out;
}

@keyframes intro {
  from {
    transform: translate(100px);
  }
}

@keyframes intro2 {
  from {
    transform: translate(900px);
  }

}

.main_text {
  width: 30em;
  color: rgb(155, 152, 152);
}

.icons {
  display: flex;
  gap: 15px;

  .icon {
    height: 30px;
    width: 30px;
  }

  .twitter {
    animation: intro 1s ease-in forwards;
  }

  .linkedin {
    animation: intro 1.2s ease-in forwards;
  }

  .discord {
    animation: intro 1.5s ease-in forwards;
  }

  .github {
    animation: intro 1.7s ease-in forwards;
  }

}

@media only screen and (max-width: 768px) {
  .second_main_container {
    display: flex;
    flex-direction: column;

  }

}

@media (max-width: 940px) {
  .container {
    height: 14em;
    border-radius: 100%;
    width: 14em;
    background: url('https://avatars.githubusercontent.com/u/93622341?v=4');
    border: 2px solid white;
    background-position: center;
    background-size: contain;
  }

  .translate-in-main {
    transform: translateX(0);
  }

  .translate-out-main {
    transform: translateX(0);
  }

  .MAIN_container {
    padding: 20px 0px;
  }

  .names {
    gap: 1em;
    text-align: center;
    font-size: 12px;
    display: flex;
    justify-content: center;
  }

  .text-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 0;
    width: 90%;
  }

  .button_div {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 10px
  }
}