.main_navbar_container {
    width: 100vw;
    display: flex;
    justify-content: center;
    position: fixed;
}

.second_navbar_container {
    margin-top: 1em;
    background-color: #1a1a1a;
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
}

.navbar_container {
    display: flex;
    justify-content: center;
    gap: 1em;
    color: white;
    cursor: pointer;
}

.navbar_icon {
    color: white;
    width: 30px;
    height: 30px;    
}

.navbar_icon:hover {
   background-color: red;
}

.translate-out-main {
  transform: translateX(0.5em);
  transition: transform 0.5s ease;
}

.translate-in-main {
  transform: translateX(10em);
  transition: transform 0.5s ease;
}