/* .main_navbar_container {
    width: 100vw;
    display: flex;
    justify-content: center;
    position: fixed;
}



.navbar_container {
    display: flex;
    justify-content: center;
    gap: 2em;
    color: white;
    cursor: pointer;
}

.navbar_icon {
    color: white;
    width: 30px;
    height: 30px;    
}

.navbar_icon:hover {
   background-color: red;
}

.translate-out-main {
  transform: translateX(0.5em);
  transition: transform 0.5s ease;
}

.translate-in-main {
  transform: translateX(10em);
  transition: transform 0.5s ease;
} */

.second_navbar_container {
  background-color: #1a1a1a;
  width: auto;
  position: relative;
  width: 100vw;

}

.hamburger {
  cursor: pointer;
  height: 40px;
  width: 40px
}

.my_name {
  font-size: 25px;
  font-weight: bold;
}

.gap_of {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 25px;
}

.roll_down {
  background-color: rgb(0, 0, 0);
}

.bar {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  margin: 0;
  padding: 10px;
}

.rotate {
  animation: rotater_burger 1s ease-in;
}

@keyframes rotater_burger {
  from {
    transform: rotate(0)
  }
  to {
    transform: rotate(360)
  }
}
.bar:hover {
  background-color: rgb(26, 26, 26);
}