.app_container{
  display: flex;
  flex-direction: row;
}
/* 
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
.Loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    flex-direction: column;
    column-gap: 3em;
}

.headset {
  height: 50px;
  width: 50px;
  color: white;
}

.h2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  row-gap: 10em;
}

.spinner {
    color: white;
    height: 5em;
    width: 5em;
    animation: spin 1s infinite linear
}
@keyframes spin {
   from {
      transform: rotate(0deg)
   }
   to {
      transform: rotate(360deg)
   }
}